/* loads the background image keeps it into centre position with fill all windows and no repeat*/
body {
  width: 100%;
  background: url(../image/mountain.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Sticky footor */
#sticky-footer {
  flex-shrink: none;
}

/* font style Lato is used */
.card.p-5.m-5{
  background: rgb(135, 206, 235,0.7);
  font-family: 'Lato', sans-serif;
}
/* All texts are transformed into uppercase, 600 weight added, and letter spacing with 3 pixels */
.navbar{
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 3px;
}

.navbar-brand.mb-1.h1.bg-success.text-white,.text-center.text-info.bg-white{
  border-radius: 2px;
}


.project{
  height: 100%;
  width: 100%;
  border: 1px solid black;
  border-radius: 30px;
}

h2{
  background-color: white;
  border-radius: 5px; 
}